version: '2.1'
orbs:
  node: circleci/node@5.1.0

defaults: &defaults
  docker:
    - image: cimg/python:3.10
  working_directory: ~/project

prepare_venv: &prepare_venv
  run:
    name: Create venv
    command: |
      python -m venv venv
      source venv/bin/activate
      pip install --upgrade pip

jobs:
  deploy_app_to_railway:
    <<: *defaults
    steps:
      - checkout:
          path: ~/project/
      - node/install:
          node-version: '20.9'
      - run: node --version
      - run: npm i -g @railway/cli

      # Verificar que el token esté presente (no se hace login en CI)
      - run:
          name: Check Railway token present
          command: |
            if [ -z "$RAILWAY_TOKEN" ]; then
              echo "RAILWAY_TOKEN is missing"; exit 1;
            else
              railway --version
              echo "Token detected. Proceeding…"
            fi

      # Linkear proyecto y servicio correctos
      - run:
          name: Link to Railway project and service
          command: |
            railway link -p 77f7b558-f962-4e95-8f5a-636a2936a3aa -s 9d0d02d1-734e-460b-9ab9-a26849fb4301

      # Desplegar al servicio correcto
      - run:
          name: Deploy to Railway App
          command: |
            cd bankchurn-api
            railway up --service "brilliant-enthusiasm" --detach

tags_only: &tags_only
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^.*/

workflows:
  version: 1
  deploy_pipeline:
    jobs:
      - deploy_app_to_railway:
          filters:
            branches:
              only:
                - main
